@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>DROPDOWN Using AJAX</h1>

<div>
    <label for="Country">Choose a Country:</label>
    <select name="Country" id="Country" onchange="country()">
        <option value="India">India</option>
        <option value="USA">USA</option>
        <option value="Pakistan">Pakistan</option>
        <option value="UK">UK</option>
    </select>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
    function country() {
        $.ajax({
            type: "POST",
            url: "/home/Dropdown",
            data: { drop: $("#Country").val() },
            dataType: 'json',
            success: function (resp) {
                debugger
                console.log(resp.drop);
            },
            error: function (resp) {
                alert("Some Error");
            }
        });
    }
</script>
